 * {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

.footer-container{
    max-width: 1210px;
    margin: 0 auto;
}

.nav-a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.nav-span{
    margin-right: 114px;
}
.container{
    display: 
}

.cont-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

button{
    /*padding-bottom: 20px;
    margin-top:20px;*/
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    height: 68px;
    width: 236px;
    padding: 18px 0px;
}

.button-style-1{
   background: tomato;
   border: none;
   margin-right: 35px;

}
.button-style-2{
    background: none;
    border: 1px solid white;

}

.restapp{
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    padding: 80px 0px 178px;
}

.restapp_title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    
}

.restapp_info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
}

.restapp_about{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;    
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
    margin-bottom: 50px;   
}

.oroder_titel{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.order{
    background-image: url('../img/back2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    padding: 147px 0px 131px;
}

.order_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.restapp_about{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}